<div class="container">
   <div class="row" style="background-color:#0099ff;">
      <div class="col"><img class="img-fluid" src="{{ SITEURL }}/images/gold-price.gif"></div>
   </div>
   <div class="row" style="background-color:#FFFF99;">
      <div class="col">
      </div>
      <div class="col-5 text-center">
         110 年11月22日
      </div>
      <div class="col text-right small text-primary">
         {{ BUILD_TIME | strftime("%H時%M分更新") }}
      </div>
   </div>
   <div class="row" style="background-color:#FFFF99;">
      <div class="col border" width="50%" height="21">
         <div align="center">紐約收盤</div>
      </div>
      <div class="col border" width="50%">
         <div align="center"> USD 1845.00 / 盎司</div>
      </div>
   </div>
   <div class="row" style="background-color:#FFFF99;">
      <div class="col border">
         <div align="center">1公斤裝王鼎進口條塊 </div>
      </div>
      <div class="col border">
         <div align="center">出 6205<font color="#000000"> / 每台錢</font> <br>入 6155 / 每台錢 </div>
      </div>
   </div>
   <div class="row" style="background-color:#FFFF99;">
      <div class="col border">
         <div align="center">王鼎5台兩條塊</div>
      </div>
      <div class="col border">
         <div align="center">出 6210 / 每台錢 <br>入 6160 / 每台錢 </div>
      </div>
   </div>
   <div class="row" style="background-color:#FFFF99;">
      <div class="col border" align="center">王鼎壹台兩金龍條</div>
      <div class="col border" align="center">出 6240<font color="#000000"> / 每台錢</font> <br>入 6160 / 每台錢</div>
   </div>
   <div class="row" style="background-color:#FFFF99;">
      <div class="col border">
         <div align="center">PAMP 100g 財富女神白金</div>
      </div>
      <div class="col border">
         <div align="center">出 4000 / 每台錢 <br>入 3300 / 每台錢</div>
      </div>
   </div>
   <div class="row" style="background-color:#FFFF99;">
      <div class="col border">
         <div align="center">999+ 王鼎白銀(1公斤規格)平裝</div>
      </div>
      <div class="col border">
         <div align="center">出 895 / 每台兩 <br>入 805 / 每台兩</div>
      </div>
   </div>
   <div class="row" style="background-color:#FFFF99;">
      <div class="col border">
         <div align="center">999+ 王鼎白銀(1公斤規格)鏡面精裝</div>
      </div>
      <div class="col border">
         <div align="center">出 915 / 每台兩 <br>入 815 / 每台兩</div>
      </div>
   </div>
   <div class="row" style="background-color:#FFFF99;">
      <div class="col border">
         <div align="center">999+ 王鼎白銀(10盎司規格)盒裝</div>
      </div>
      <div class="col border">
         <div align="center">出 935 / 每台兩 <br>入 815 / 每台兩</div>
      </div>
   </div>
   <div class="row" style="background-color:#FFFF99;">
      <div class="col border">
         <div align="center">黃金飾品收購</div>
      </div>
      <div class="col border">
         <div align="center">5970 / 每台錢</div>
      </div>
   </div>
</table>
