<div class="table-responsive">
<table class="table table-bordered table-sm mx-auto w-auto">
   <tr bgcolor="#33FFFF">
      <td height="27" colspan="2" bgcolor="#0099ff"><img src="{{ SITEURL }}/images/title04.gif" width="560" height="31"></td>
   </tr>
   <tr bgcolor="#FFFF99">
      <td colspan="2">
         <p align="center">109 年6月22日
      </td>
   </tr>
   <tr bgcolor="#FFFF99">
      <td width="50%" height="21">
         <div align="center">紐約收盤</div>
      </td>
      <td width="50%">
         <div align="center"> USD 1743.00 / 盎司</div>
      </td>
   </tr>
   <tr bgcolor="#FFFF99">
      <td>
         <div align="center">1公斤裝王鼎進口條塊 </div>
      </td>
      <td>
         <div align="center">出 6130<font color="#000000"> / 每台錢</font> 入 6090 / 每台錢 </div>
      </td>
   </tr>
   <tr bgcolor="#FFFF99">
      <td>
         <div align="center">王鼎5台兩條塊</div>
      </td>
      <td>
         <div align="center">出 6135 / 每台錢 入 6095 / 每台錢 </div>
      </td>
   </tr>
   <tr bgcolor="#FFFF99">
      <td align="center">王鼎壹台兩金龍條</td>
      <td align="center">出 6165<font color="#000000"> / 每台錢</font> 入 6095 / 每台錢</td>
   </tr>
   <tr bgcolor="#FFFF99">
      <td>
         <div align="center">PAMP 100g 財富女神白金</div>
      </td>
      <td>
         <div align="center">出 3450 / 每台錢 入 2750 / 每台錢</div>
      </td>
   </tr>
   <tr bgcolor="#FFFF99">
      <td>
         <div align="center">999+ 進口白銀(1公斤規格)平裝</div>
      </td>
      <td>
         <div align="center">出 720 /每台兩 入 650 /每台兩</div>
      </td>
   </tr>
   <tr bgcolor="#FFFF99">
      <td>
         <div align="center">999+ 進口白銀(1公斤規格)鏡面精裝</div>
      </td>
      <td>
         <div align="center">出 740 /每台兩 入 660 /每台兩</div>
      </td>
   </tr>
   <tr bgcolor="#FFFF99">
      <td>
         <div align="center">999+ 進口白銀(10盎司規格)盒裝</div>
      </td>
      <td>
         <div align="center">出 760 /每台兩 入 660 /每台兩</div>
      </td>
   </tr>
</table>
</div>
