    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ SITEURL }}/">{{ SITENAME }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            {% if DISPLAY_PAGES_ON_MENU %}
            {%- for p in pages -%}
            <li class="nav-item active">
              <a class="nav-link" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }} <span class="sr-only">(current)</span></a>
            </li>
            {%- endfor -%}
            {% endif %}

<!--
    <a class="nav-item" href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives.html') }}">{{ 'Archives'|gettext(DEFAULT_LANG) }}</a>
    <a class="nav-item" href="{{ SITEURL }}/{{ CATEGORIES_URL | default('categories.html') }}">{{ 'Categories'|gettext(DEFAULT_LANG) }}</a>
    <a class="nav-item" href="{{ SITEURL }}/{{ TAGS_URL | default('tags.html') }}">{{ 'Tags'|gettext(DEFAULT_LANG) }}</a>
    <a class="nav-item" href="{{ SITEURL }}/{{ AUTHORS_URL | default('authors.html') }}">{{ 'Authors'|gettext(DEFAULT_LANG) }}</a>
-->
            {% if lang_siteurls %}
              {% for lang, url in lang_siteurls.items() %}
                {% if lang != DEFAULT_LANG %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url }}/">{{ lang_code2name(lang) }}</a>
            </li>
                {% endif %}
              {% endfor %}
            {% endif %}
          </ul>
          <form class="form-inline mt-2 mt-md-0">
{% if GOOGLE_CSE %}<gcse:search></gcse:search>{% endif %}
          </form>
        </div>
      </nav>
    </header>
