{% extends "layout/layout.html" %}
{% block content %}
  <div class="container">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="{{ SITEURL }}/images/gold.jpg" alt="First slide">
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>{{ pages[0].title }}</h1>
                <p>{{ pages[0].summary }}</p>
                <p><a class="btn btn-lg btn-primary" href="{{ pages[0].url }}" role="button">{{ pages[0].title }}</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="second-slide" src="{{ SITEURL }}/images/gold3.jpg" alt="Second slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>{{ pages[1].title }}</h1>
                <p>{{ pages[1].summary }}</p>
                <p><a class="btn btn-lg btn-primary" href="{{ pages[1].url }}" role="button">{{ pages[1].title }}</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="third-slide" src="{{ SITEURL }}/images/wangding5.jpg" alt="Third slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>{{ pages[2].title }}</h1>
                <p>{{ pages[2].summary }}</p>
                <p><a class="btn btn-lg btn-primary" href="{{ pages[2].url }}" role="button">{{ pages[2].title }}</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="third-slide" src="{{ SITEURL }}/images/product.jpg" alt="Fourth slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>{{ pages[3].title }}</h1>
                <p>{{ pages[3].summary }}</p>
                <p><a class="btn btn-lg btn-primary" href="{{ pages[3].url }}" role="button">{{ pages[3].title }}</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="third-slide" src="{{ SITEURL }}/images/goldhead.png" alt="Fifth slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>{{ pages[4].title }}</h1>
                <p>{{ pages[4].summary }}</p>
                <p><a class="btn btn-lg btn-primary" href="{{ pages[4].url }}" role="button">{{ pages[4].title }}</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="third-slide" src="{{ SITEURL }}/images/wdgold2.jpg" alt="Sixth slide">
            <div class="container">
              <div class="carousel-caption text-right">
                <h1>{{ pages[5].title }}</h1>
                <p>{{ pages[5].summary }}</p>
                <p><a class="btn btn-lg btn-primary" href="{{ pages[5].url }}" role="button">{{ pages[5].title }}</a></p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

  </div>

      <hr>

{% include 'layout/includes/daily_price.html' %}

      <hr>

<ul>
<li>高價收購飾金(5930 / 每台錢)---歡迎來電詢問黃金,白金,白銀價格</li>
<li><a href="{{ pages[3].url }}#twogolddragon">平裝五台兩     壹台兩金龍條</a>      黃金條塊銷售中,瑞士進口黃金!</li>
<li><a href="{{ pages[2].url }}#idreport">高雄市金銀珠寶公會白銀成色鑑定報告</a>,  10盎司龍圖騰盒裝銀條（註冊商標第01547407號）</li>
<li>每日紐約收盤價及走勢圖，請參閱每天早上更新的<a href="{{ pages[1].url }}">王鼎財經簡訊</a></li>
<li>營業日 11:00  更新當天黃金報價資料</li>
<li><a href="{{ pages[4].url }}#weightexchange">黃金重量換算表</a></li>
<li>黃金、白銀走勢圖，請參閱<a href="{{ pages[0].url }}#goldpricechartdiv">國外貴金屬價格走勢表</a></li>
<li>黃金現貨買賣，營業時間 AM 10：30 ~PM 4：00(週六,週日,例假日休息)</li>
<li>本公司每天在經濟日報，工商時報提供黃金報價，請參閱。</li>
<li><a href="https://blog.xuite.net/goldstudy/blog">黃金研究室</a>（部落格）</li>
</ul>

      <hr>

{% endblock %}
